.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;


}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    width: 450px;
    padding: 10px;
    position: relative;
}

.value {
    position: absolute;
    left: 160px;
    width: 100px;
    display: flex;
    justify-content: flex-end;

}

.description {
    max-width: 140px;
}

.date {
    position: absolute;
    left: 390px;
}

.button {
    position: absolute;
    left: 480px;

}

.update {
    text-decoration: none;
    color: black
}


.title {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 460px;
    padding: 5px;
}

.adicionar {
    display: flex;
    justify-items: flex-end;
    text-align: none;
    text-decoration: none;
    color: black;

}

.input {
    display: block;
    margin-bottom: 10px;
    padding: 4px;
    width: 250px;
    position: relative;
}

.cardMain {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttonUpdate {
    position: absolute;
    left: 150px;
    top: 293px
}

.buttonRemover {
    position: absolute;
    top: 293px;
    left: 250px
}

.cardForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.resultUpdate {
    align-self: center;
    position: absolute;
    top: 330px;
    left: 195px;
}

.period {
    display: block;
    margin: 5px;
}

.formPeriod {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 290px;
}

.buttonSearch {
    position: absolute;
    top: 22px;
    left: 250px
}

.dtPeriod {
    margin: 5px;
}

.titleForm{
    margin-left:5px ;
}

.descriptName {
    cursor: pointer;
}